@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_300.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_500.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_600.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_700.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_800.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima';
	src: url('./assets/fonts/Proxima_900.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}